{% extends 'base.html' %}

{% block content %}
    <h2>Search for a beer</h2>
    <br>
    <form action="{{ url_for('search_results') }}" method="post" style="color:white;font-size:32px;text-shadow:-1px 1px 0 #000,1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;">
        <label for="name">Beer name:</label><br>
        <input type="text" id="name" name="name" placeholder="Redbridge" style="font-size:2vw;" required><br><br>
        <label for="manufacturer">Beer manufacturer:</label><br>
        <input type="text" id="manufacturer" name="manufacturer" placeholder="Anheuser-Busch" style="font-size:2vw;" required><br><br>
        <input type="submit" value="Submit" style="background-color:black;color:white;border-radius:6px;font-size:20px;">
    </form>
{% endblock %}