h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
    background: url('../images/beer_bubbles.jpg') no-repeat center center fixed;
    background-size: cover;
}